:root {
    --text-primary: #fff;
    --text-slighty-blurred-white: rgba(255, 255, 255, 0.93);
    --text-muted: rgba(255, 255, 255, 0.8);
    --text-faint: rgba(255, 255, 255, 0.6);

    --border: rgba(255, 255, 255, 0.15);
    --border-accent: rgba(138, 92, 246, 0.45);

    --primary: #8a5cf6;
    --accent-pink: #ff4fdb;
    --accent-purple: #7861ff;
    --accent-blue: #5b7cff;
    --background: #09090b;

    --linear-purple-to-pink: linear-gradient(
        90deg,
        var(--accent-purple),
        var(--accent-pink)
    );

    --main-text: "Cormorant Garamond", serif;
    --body-text: "Inter", sans-serif;
}

body {
    background-color: var(--background) !important;
    margin: 0;
}
/* nav bar (desktop) starts */
.img-fitter {
    height: 90px;
    width: 280px;
}
.img-fitter img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.nav-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-link {
    display: inline-block;
    padding-bottom: 18px;
    color: var(--text-faint) !important;
    text-decoration: none;
}
.nav-dot {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary);
    bottom: 0;
    transition: left 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.nav-btn {
    color: var(--text-muted);
    border: 1px solid var(--border-accent);
    padding: 10px 30px;
}
.btn.nav-btn:hover {
    color: var(--text-primary);
    border-color: var(--text-faint);
}
/* nav bar (desktop) ends */

.main {
    margin: 0 50px;
}
/* hero section starts */
/* hero text */
.hero {
    position: relative;
}
.false-button {
    display: inline;
    border: 1px solid var(--text-faint);
    padding: 5px 12px;
    border-radius: 30px;
    color: var(--text-faint);
    font-size: 8px;
}
.dot {
    color: var(--primary);
    margin-right: 10px;
}
.hero-text h1 {
    font-size: 45px;
    color: var(--text-primary);
    font-family: var(--main-text);
    margin-top: 25px;
    max-width: 408px;
    line-height: 1.2;
}
.hero-text h1 span {
    background-image: linear-gradient(
        90deg,
        var(--primary) 0%,
        var(--accent-pink) 35%,
        var(--accent-purple) 70%,
        var(--accent-blue) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.hero-text p {
    color: var(--text-faint);
    font-size: 10px;
    max-width: 400px;
}
.btn.hero-btn-grad {
    background: linear-gradient(
        90deg,
        var(--accent-pink),
        var(--accent-purple)
    );
    color: var(--text-primary);
    border: transparent;
    padding: 10px 25px;
    font-size: 14px;
}
.btn.hero-btn-grad:hover {
    transition: 0.35s ease;
    transform: translateY(-2px);
    box-shadow: 0 0 15px var(--border-accent);
}
.btn.hero-btn-norm {
    color: var(--text-primary);
    border: 1px solid var(--border-accent);
    padding: 10px 25px;
    font-size: 14px;
    margin-left: 10px;
}
.btn.hero-btn-norm:hover {
    border-color: var(--text-faint);
    transition: 0.35s ease;
    transform: translateY(-2px);
    box-shadow: 0 0 5px var(--text-faint);
}

/* hero img */
.hero-photo {
    width: 100%;
    max-width: 790px;
    aspect-ratio: 19/17;
    overflow: hidden;
    position: relative;
}
.hero-photo::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 35%;
    width: 250px;
    height: 300px;
    background: radial-gradient(
        circle at center,
        rgba(138, 92, 246, 0.801),
        transparent 80%
    );
    filter: blur(70px);
    z-index: -1;
}
.hero-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left -150px top -50px;
}

/* socials */
.socials {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
    margin-left: 20px;
}
.socials a {
    font-size: 15px;
    color: var(--text-slighty-blurred-white);
    text-decoration: none;
    opacity: 80%;
    transform: 0.3s;
    transition: 0.3s;
}
.socials a:hover {
    color: var(--primary);
    transform: translateY(-3px);
}
.border-dash {
    width: 1px;
    height: 40px;
    align-self: left;
    background: var(--text-faint);
    margin-left: 10px;
}
.scroll-indicator {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.scroll-indicator span {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: var(--text-faint);
}
.fa-arrow-down-long {
    color: var(--text-slighty-blurred-white);
    font-size: 12px;
    margin-left: 4px;
}

/* Stats Card */
.stats-card {
    background-color: #151524c6;
    /* color: var(--text-primary) !important; */
    opacity: 90%;
    max-width: 1150px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    /* bottom: 100px; */
    transform: translateY(-100px);
}
.holder {
    display: flex;
    align-items: center;
}
.emoji {
    border: 1px solid var(--text-muted);
    padding: 30px;
    border-radius: 20px;
    display: inline-block;
}
.stat {
    display: inline-grid;
    margin-left: 10px;
}
.digit span {
    background-image: linear-gradient(
        90deg,
        var(--accent-purple) 40%,
        var(--accent-pink) 90%,
        var(--text-faint) 0%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.digit {
    color: var(--primary);
    font-family: var(--main-text);
    font-size: 37px;
}
.stat-tag {
    color: var(--text-primary);
    font-family: var(--body-text);
    font-weight: 300;
    font-size: 15px;
}
.stat-text {
    color: var(--text-faint);
    font-family: var(--body-text);
    font-weight: 200;
    font-size: 8px;
}

/* portfolio */
.portfolio {
    margin-top: -60px;
}
.label {
    background-image: var(--linear-purple-to-pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--main-text);
    font-size: 13px;
    margin-bottom: 8px;
}
.title {
    color: var(--text-primary);
    font-family: var(--main-text);
    font-size: 35px;
}
.director{
   color: var(--text-faint);
    font-size: 10px;
}
.pointer{
    border: 1px solid var(--text-faint);
    color: #ffffff74;
    padding: 3px;
    border-radius: 50%;
}

